// Colors
$primary-text-color : #DB8876;
$secondary-text-color : #901C1C;
$tertiary-text-color : #525252;

$primary-background-color: #901C1C;
$secondary-background-color: #DB8876;
$tertiary-background-color: #FAFAFA;