*:focus-visible,
button:focus-visible{
    outline: 2px solid blue;
}

body {
    font-family: "DM Sans", sans-serif;
}

h1 {
    color: $secondary-text-color;
}

.container {
    margin-inline: 100px;
}