.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__name {
        color: $primary-text-color;
        font-size: 3rem;
        margin: 0;
    }

    &__location {
        color: $secondary-text-color;
        font-size: 2rem;
        margin-top: 1rem;
        margin: 0;
    }

    &__photograph-header__tagline {
        margin: 19px 0 0 0;
    }

    &__picture {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.photograph-filter {
    margin: 20px 100px 58px;
}

.photograph-medias {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 95px;
    margin: 0 100px 100px;
    color: $secondary-text-color;
    font-size: 1.5rem;

    img, video {
        border-radius: 5px;
        width: 350px;
        height: 300px;
        object-fit: cover;
        overflow: hidden;
        cursor: pointer;
    }
}

.media {

    p {
        margin: 0;
    }
   
    &__caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 0 0;
    }

    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
        flex: 1;
    }
    
    .fa-heart {
        cursor: pointer;
    }
}

.photograph-informations {
    background-color: $secondary-background-color;
    position: fixed;
    right: 36px;
    bottom: 0;
    width: 378px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    .likes {
        margin-right: 60px;
    }

    .totalLikes {
        margin-right: 10px;
    }
}

#contact_modal {
    display: none;
}


.checkbox-heart {
    display: none;
}

.checkbox-heart + label {
    position: relative;
    padding-left: 5px;
    display: inline-block;
}