header {
    height: 90px;

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        height: 50px;
    }
}